<h2 style='color:green'>Exercise</h2>
At the same level as this notebook on github, there is an Exercise folder that contains carprices.csv.
This file has car sell prices for 3 different models. First plot data points on a scatter plot chart
to see if linear regression model can be applied. If yes, then build a model that can answer
following questions,

**1) Predict price of a mercedez benz that is 4 yr old with mileage 45000**

**2) Predict price of a BMW X5 that is 7 yr old with mileage 86000**

**3) Tell me the score (accuracy) of your model. (Hint: use LinearRegression().score())**

In [1]:
import pandas as pd
df = pd.read_csv('carprices.csv')
df

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

In [20]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
X = df[['Car Model','Mileage','Sell Price($)','Age(yrs)']].values
ct = ColumnTransformer([('Car Model', OneHotEncoder(), [0])], remainder = 'passthrough')
X = ct.fit_transform(X)
X

array([[0.0, 1.0, 0.0, 69000, 18000, 6],
       [0.0, 1.0, 0.0, 35000, 34000, 3],
       [0.0, 1.0, 0.0, 57000, 26100, 5],
       [0.0, 1.0, 0.0, 22500, 40000, 2],
       [0.0, 1.0, 0.0, 46000, 31500, 4],
       [1.0, 0.0, 0.0, 59000, 29400, 5],
       [1.0, 0.0, 0.0, 52000, 32000, 5],
       [1.0, 0.0, 0.0, 72000, 19300, 6],
       [1.0, 0.0, 0.0, 91000, 12000, 8],
       [0.0, 0.0, 1.0, 67000, 22000, 6],
       [0.0, 0.0, 1.0, 83000, 20000, 7],
       [0.0, 0.0, 1.0, 79000, 21000, 7],
       [0.0, 0.0, 1.0, 59000, 33000, 5]], dtype=object)

In [21]:
y = X[:,4]
y

array([18000, 34000, 26100, 40000, 31500, 29400, 32000, 19300, 12000,
       22000, 20000, 21000, 33000], dtype=object)

In [23]:
X = X[:,[0, 1, 2, 3, 5]]
X

array([[0.0, 1.0, 0.0, 69000, 6],
       [0.0, 1.0, 0.0, 35000, 3],
       [0.0, 1.0, 0.0, 57000, 5],
       [0.0, 1.0, 0.0, 22500, 2],
       [0.0, 1.0, 0.0, 46000, 4],
       [1.0, 0.0, 0.0, 59000, 5],
       [1.0, 0.0, 0.0, 52000, 5],
       [1.0, 0.0, 0.0, 72000, 6],
       [1.0, 0.0, 0.0, 91000, 8],
       [0.0, 0.0, 1.0, 67000, 6],
       [0.0, 0.0, 1.0, 83000, 7],
       [0.0, 0.0, 1.0, 79000, 7],
       [0.0, 0.0, 1.0, 59000, 5]], dtype=object)

In [24]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X, y)

LinearRegression()

In [26]:
model.predict([[0.0, 0.0, 1.0, 45000, 4]])

array([36991.31721062])

In [27]:
model.predict([[0.0, 1.0, 0.0, 86000, 7]])

array([11080.74313218])

In [28]:
model.score(X, y)

0.9417050937281082